<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
	                      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	                      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd         
	                      http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd         
	                      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="bonedataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="${db.driverClass}"/>
		<property name="jdbcUrl" value="${db.jdbcUrl}"/>
		<property name="username" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
		<property name="idleConnectionTestPeriodInMinutes" value="${idleConnectionTestPeriod}"></property>
		<property name="idleMaxAgeInMinutes" value="${idleMaxAge}"></property>
		<property name="maxConnectionsPerPartition" value="${maxConnectionsPerPartition}"></property>
		<property name="minConnectionsPerPartition" value="${minConnectionsPerPartition}"></property>
		<property name="partitionCount" value="${partitionCount}"></property>
		<property name="acquireIncrement" value="${acquireIncrement}"></property>
		<property name="releaseHelperThreads" value="${releaseHelperThreads}"></property>
		<property name="statementsCachedPerConnection" value="${statementsCachedPerConnection}"></property>
		<property name="connectionTimeoutInMs" value="${connectionTimeoutInMs}"></property>
		<property name="defaultAutoCommit" value="${defaultAutoCommit}"></property>
	</bean>


	<!-- 数据库连接池管理2 -->
	<bean id="bonedataSource2" destroy-method="close" class="com.jolbox.bonecp.BoneCPDataSource" >
		<property value="${two.db.driverClass}" name="driverClass" />
		<property value="${two.db.jdbcUrl}" name="jdbcUrl" />
		<property value="${two.db.username}" name="username" />
		<property value="${two.db.password}" name="password" />
		<property value="${idleConnectionTestPeriod}" name="idleConnectionTestPeriodInMinutes" />
		<property value="${idleMaxAge}" name="idleMaxAgeInMinutes" />
		<property value="${maxConnectionsPerPartition}" name="maxConnectionsPerPartition" />
		<property value="${minConnectionsPerPartition}" name="minConnectionsPerPartition" />
		<property value="${partitionCount}" name="partitionCount" />
		<property value="${acquireIncrement}" name="acquireIncrement" />
		<property value="${releaseHelperThreads}" name="releaseHelperThreads" />
		<property value="${statementsCachedPerConnection}" name="statementsCachedPerConnection" />
		<property value="${connectionTimeoutInMs}" name="connectionTimeoutInMs" />
		<property value="${defaultAutoCommit}" name="defaultAutoCommit" />
	</bean>
	 
</beans>
